<article>
<div class="article">
  <h1><a href="{link|html-attr-value}">{title}</a></h1>

  <div class="article-header">
    <header>
      {.section publishing-date}
      <span class="article-date">
        <time pubdate="pubdate" datetime="{@|html-iso-date}">
          {@|html-human-date}
        </time>
      </span>
      {.end}
    </header>
  </div>

  <div class="article-body">
    {body}
  </div>

  <div class="article-footer">
    <footer>
      <form class="article-edit-button-form"
            style="display: inline;"
            action="{edit-link|html-attr-value}"
            method="get">
        <div style="display: inline;">
          <input name="edit" type="hidden" />
          <input name="revision" type="hidden" value="{revision|html-attr-value}" />
          <input type="submit" value="{edit-button-label|html-attr-value}" />
        </div>
      </form>
      |
      <a href="{comment-feed|html-attr-value}">{comment-feed-label|html}</a>
      |
      <a href="{comments-link|html-attr-value}">{comments-label|html}</a>
    </footer>
  </div>
</div>
</article>

{.section commentary}
<div class="comments" id="comments">
  <h2>{comments-heading|html}</h2>

  {.repeated section comments}
    <div class="comment">
      <div class="comment-header">
        {publishing-date|html-human-date}
        <a rel="nofollow" {.section author-link}href="{@|html-attr-value}"{.end}>{.section author}{@|html}{.or}{generic-commenter-name|html}{.end}</a>:
      </div>
      <div class="comment-body">
        {body}
      </div>
    </div>
  {.end}

  {.section comment-submission}
    <h2>{title}</h2>
    {notes}
    <form action="{action|html-attr-value}" accept-charset="UTF-8"
          enctype="application/x-www-form-urlencoded" method="post"
          class="comment-form">
      <div style="display: none">
        <input name="article" type="hidden" value="{article-id|html-attr-value}" />
        <input name="revision" type="hidden" value="{revision|html-attr-value}" />
        <input name="post-comment" type="hidden" />
      </div>
      <div class="comment-form-table">
        {.repeated section fields}
          <div class="comment-form-row">
            <div class="comment-form-label">
              <label style="vertical-align: top"
                     for="comment-form-input-{field-id|html-attr-value}">{field-label|html}:</label>
            </div>
            <div class="comment-form-input">
              <input id="comment-form-input-{field-id|html-attr-value}"
                     name="{field-id|html-attr-value}" type="text" />
            </div>
          </div>
        {.end}
        <div class="comment-form-row">
          <div class="comment-form-label">
            <label style="vertical-align: top" for="comment-body">{body-label|html}:</label>
          </div>
          <div class="comment-form-input">
            <textarea id="comment-body" cols="60" rows="15"
                      name="body"></textarea>
          </div>
        </div>
      </div>
      <div>
        <input type="submit"
               value="{submit-button-label|html-attr-value}"
               class="comment-submit-button" />
      </div>
    </form>
  {.end}

</div>
{.end}
