<article>
  <h1><a href="{link|html-attr-value}">{title|html}</a></h1>

  <div class="article-header">
    <header>
      <span class="article-date">
        <time pubdate="pubdate" datetime="{publishing-date|html-iso-date}">
          {publishing-date|html-human-date}
        </time>
      </span>
    </header>
  </div>

  <div class="article-body">
    {body}
  </div>

  <div class="article-footer">
    <footer>
      <form class="article-edit-button-form"
            style="display: inline;"
            action="{edit-link|html-attr-value}"
            method="get">
        <div style="display: inline;">
          <input name="id" type="hidden" value="106" />
          <input type="submit" value="{edit-button-label|html-attr-value}" />
        </div>
      </form>
      |
      <a href="{comment-feed|html-attr-value}">{comment-feed-label|html}</a>
      |
      <a href="{comment-feed|html-attr-value}">{comments-label|html}</a>
    </footer>
  </div>
</article>

{.section commentary}
<div class="comments">
  <h2>{comments-heading|html}</h2>

  {.repeated section comments}
    <div class="comment">
      <div class="comment-header">
        {publishing-date|html-human-date}
        <a rel="nofollow" {.section link}href="{@|html-attr-value}"{.end}>{.section author}{@|html}{.or}{generic-commenter-name|html}{.end}</a>:
      </div>
      <div class="comment-body">
        {body}
      </div>
    </div>
  {.end}

  {.section comment-submission}
    <h2>{title}</h2>
    {notes}
    <form action="{action|html-attr-value}" accept-charset="UTF-8"
          enctype="application/x-www-form-urlencoded" method="post">
      <div style="display: none">
        <input name="id" type="hidden" value="98" />
        <input name="action" type="hidden" value="post-comment" />
      </div>
      <div class="comment-form-table">
        {.repeated section fields}
          <div class="comment-form-row">
            <div class="comment-form-label">
              <label style="vertical-align: top"
                     for="{field-id|html-attr-value}">{field-label|html}:</label>
            </div>
            <div class="comment-form-input">
              <input id="{field-id|html-attr-value}"
                     name="{field-name|html-attr-value}" type="text" />
            </div>
          </div>
        {.end}
        <div class="comment-form-row">
          <div class="comment-form-label">
            <label style="vertical-align: top" for="comment-body">{body-label|html}:</label>
          </div>
          <div class="comment-form-input">
            <textarea id="comment-body" cols="60" rows="15"
                      name="comment-body">
            </textarea>
          </div>
        </div>
      </div>
      <div><input type="submit" value="{submit-button-label|html-attr-value}"></div>
    </form>
  {.end}

</div>
{.end}
