{.section head}
  <link href="/style/admin.css" rel="stylesheet" type="text/css"/>
{.end}

{.section body}
<p>
  <form method="POST">
    <input name="create-article" type="hidden" />
    <input type="submit" value="{create-article-button-label|html-attr-value}" />
  </form>
  <form method="POST">
    <input name="create-journal-entry" type="hidden" />
    <input type="submit" value="{create-journal-entry-button-label|html-attr-value}" />
  </form>
</p>

<table>
  <thead>
    <th>{id-label}</th>
    <th>{aliases-label}</th>
    <th>{branch-label}</th>
    <th>{branch-title-label}</th>
    <th>{date-label}</th>
    <th>{characteristics-label}</th>
  </thead>

  <tbody>
    {.repeated section articles}
    <tr class="major-row">
      <td class="article-id"
          rowspan="{revision-num|html-attr-value}">{id|html}</td>
      <td class="article-aliases"
          rowspan="{revision-num|html-attr-value}">
        {.repeated section aliases}
        {@|html}
        <br />
        {.end}
        <form method="POST" style="white-space: nowrap">
          <input name="add-alias" type="hidden" />
          <input name="article" type="hidden" value="{id|html-attr-value}" />
          <input name="alias" type="text" size="10" />
          <input type="submit" value="{add-alias-label|html-attr-value}" />
        </form>
      </td>
      {.repeated section revisions}
      <td class="revision-id">
        <a href="{link|html-attr-value}">{id|html}</a>
      </td>
      <td class="revision-title">
        <a href="{link|html-attr-value}">{title|html}</a>
      </td>
      <td class="revision-date">{date|html}</td>
      <td class="revision-characteristics">{characteristics|html}</td>
      {.alternates with}
    </tr>
    <tr class="minor-row">
      {.end}
    </tr>
    {.end}
  </tbody>
</table>
{.end}
