{.section head}
  <link rel="stylesheet" type="text/css"
        href="{root|html-attr-value}style/journal.css" />
  <link href="/journal/prettify/prettify.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="/journal/prettify/prettify.js"></script>
  <script type="text/javascript" src="/journal/prettify/lang-lisp.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/sha256.js"></script>
  <script type="text/javascript" src="/js/comment-submission.js"></script>
  <link title="{title} &#8212; Journal articles"
        href="/journal/feed"
        rel="alternate"
        type="application/atom+xml" />
  {.section link}
  <link rel="canonical" href="{@}" />
  {.end}
{.end}

{.section body}
  <h1 id="main-title"><a href="{root|html-attr-value}">{site-name|html}</a></h1>
  <div id="main-subtitle">{site-subtitle|html}</div>

  {.section info-messages}
  <div id="info-messages">
    {.repeated section @}
    <div class="journal-{message-type}">
      {content}
    </div>
    {.end}
  </div>
  {.end}

  <div id="articles">
  {.repeated section articles}
    {@|article-html}
  {.end}
  </div>

  {.section minor-articles}
  <div class="old-entries">
    <h2>{archive-title}</h2>
    <p><a href="{full-archive-link|html-attr-value}" rel="archives">{full-archive-label|html}</a></p>
    <table class="old-entry-table">
      <caption>{archive-table-caption}</caption>
      <thead>
        <tr>
          <th scope="col">{archive-title-label}</th>
          <th scope="col">{archive-date-label}</th>
          <th scope="col">{archive-comments-label}</th>
        </tr>
      </thead>
      <tbody>
        {.repeated section @}
        <tr>
          <td class="archive-title"><a href="{link|html-attr-value}">{title}</a></td>
          <td class="archive-date">{publishing-date|html-short-human-date}</td>
          <td class="archive-comment-number"><a href="{comments-link|html-attr-value}">{comments-label|html}</a></td>
        </tr>
        {.end}
      </tbody>
    </table>
  </div>
  {.end}
{.end}
